html,
body {
  height: 100%;
}

#bg-landing {
  background-image: url("./Assets/bg_landing.png");
  height: 100vh;

  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 0;
  padding-bottom: 0;
}

#bg-landing p {
  font-size: 24px;
  font-family: Avenir;
  line-height: 33px;
}

#bg-landing button {
  width: 211px;
  height: 50px;
}

.h1-landing {
  font-size: 110px;
  line-height: 82.49%;
  font-family: "Times New Roman";
}

.f-header {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
}
